<div class="ap_music">
<div id="player"></div>
</div>
<script>
    const ap = new APlayer
        ({
            element: document.getElementById('player'),
            fixed: true,
            autoplay: false,
            theme: '#8aa2d3',
            loop: 'all',
            order: 'list',
            preload: 'auto',
            volume: 0.7,
            mutex: true,
            listFolded: false,
            listMaxHeight: '500px', // 列表最大高度。100px刚好3首曲子，500px就是15首
            lrcType: 0,
            audio:[
            {
            name: 'マイナスイオンの静寂',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/マイナスイオンの静寂.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'FEENA',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/FEENA.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'PALACE OF SALMON',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/PALACE OF SALMON.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'PALACE"',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/PALACE.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'タイトルロード',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/タイトルロード.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'リモージュの港町',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/リモージュの港町.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'ロストヘブン',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/ロストヘブン.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '鉱山町マインツ',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/鉱山町マインツ.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '白き魔女ゲルド (ファルコム・スペシャル BOX '95)',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/白き魔女ゲルド (ファルコム・スペシャル BOX '95).mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '白き魔女ゲルド',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/白き魔女ゲルド.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '悲しき蒼穹を翔ける',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/悲しき蒼穹を翔ける.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '蒼い花のワルツ',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/蒼い花のワルツ.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '昏き玉座',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/昏き玉座.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '王妃イザベル・戦闘',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/王妃イザベル・戦闘.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '宴の館',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/宴の館.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'Dear My Brother',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/Dear My Brother.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'FEEL BLUE',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/FEEL BLUE.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'INVITATION TO THE CRIMSON NIGHT',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/INVITATION TO THE CRIMSON NIGHT.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'PUBLIC PALACE',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/PUBLIC PALACE.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'オバケワールド',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/オバケワールド.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'オルドス大聖堂',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/オルドス大聖堂.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'APATHETIC STORY',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/APATHETIC STORY.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'LOST HARMONY AMONG PEOPLE',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/LOST HARMONY AMONG PEOPLE.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'FORGOTTEN DAYS',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/FORGOTTEN DAYS.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'PRISON OF BALDUQ -YEARNING-',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/PRISON OF BALDUQ -YEARNING-.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'アルモリカ村',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/アルモリカ村.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '雨の日の真実',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/雨の日の真実.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '月下の想い',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/月下の想い.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'TOWER OF THE SHADOW OF DEATH -Jukebox-',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/TOWER OF THE SHADOW OF DEATH -Jukebox-.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: '白き魔女ゲルド -尊き魂-',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/白き魔女ゲルド -尊き魂-.mp3',
            cover: '/aplayer/FALCOM.png'},
            {
            name: 'デュルゼルの手紙',
            artist: 'Falcom Sound Team J.D.K.',
            url: '/aplayer/デュルゼルの手紙.mp3',
            cover: '/aplayer/FALCOM.png'},
            ]
    });
</script>
