<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="music">
    <div id="player">
    </div>
</div>
<script>
    var ap = new APlayer
        ({
            element: document.getElementById('player'),
            fixed: true,
            autoplay: false,
            fixed: true,
            theme: '#99ccb3',
            loop: 'all',
            order: 'list',
            preload: 'auto',
            volume: 0.7,
            mutex: true,
            listFolded: true,
            listMaxHeight: 50,
            lrcType: 0,
            music:[
            {
            name:'LOST HARMONY AMONG PEOPLE',
            url:'/aplayer/LOST HARMONY AMONG PEOPLE.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'FORGOTTEN DAYS',
            url:'/aplayer/FORGOTTEN DAYS.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'PRISON OF BALDUQ -YEARNING-',
            url:'/aplayer/PRISON OF BALDUQ -YEARNING-.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'アルモリカ村',
            url:'/aplayer/アルモリカ村.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'鉱山町マインツ',
            url:'/aplayer/鉱山町マインツ.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'雨の日の真実',
            url:'/aplayer/雨の日の真実.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'月下の想い',
            url:'/aplayer/月下の想い.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'TOWER OF THE SHADOW OF DEATH -Jukebox-',
            url:'/aplayer/TOWER OF THE SHADOW OF DEATH -Jukebox-.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'白き魔女ゲルド -尊き魂-',
            url:'/aplayer/白き魔女ゲルド -尊き魂-.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            {
            name:'デュルゼルの手紙',
            url:'/aplayer/デュルゼルの手紙.mp3',
            artist:'Falcom Sound Team J.D.K.',
            cover:'/aplayer/FALCOM.png'},
            ]
            ]
    });
    //ap.init();
</script>
</body>
